.connect-four-page{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.connect-four-page .board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr, 1fr, 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: orange;
    border: 10px solid orange;
    border-top: none;
    padding: 5px;
}
.connect-four-page .board-slot{
    aspect-ratio: 1;
    min-width: 11px;
    background-color: #4f4f4f;
    max-width: 80px;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    border-radius: 50%;
    border: 7px solid #cc8400;
}
.connect-four-page .variable-slot-x{
    cursor: pointer;
}
.connect-four-page .r-slot{
    background-color: #ff0000;
}
/* .connect-four-page .variable-slot-r:hover{
    background-color: #ff6666;
} */
.connect-four-page .variable-slot-y{
    cursor: pointer;
}
.connect-four-page .y-slot{
    background-color: #ffff00;
}
.connect-four-page .column.row-0:hover .variable-slot-r:nth-child(6){
    background-color: #ff8888;
}
.connect-four-page .column.row-0:hover .variable-slot-r:nth-child(5)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-0:hover .variable-slot-r:nth-child(4)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-0:hover .variable-slot-r:nth-child(3)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-0:hover .variable-slot-r:nth-child(2)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-0:hover .variable-slot-r:nth-child(1)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-1:hover .variable-slot-r:nth-child(5){
    background-color: #ff8888;
}
.connect-four-page .column.row-1:hover .variable-slot-r:nth-child(4)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-1:hover .variable-slot-r:nth-child(3)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-1:hover .variable-slot-r:nth-child(2)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-1:hover .variable-slot-r:nth-child(1)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-2:hover .variable-slot-r:nth-child(4){
    background-color: #ff8888;
}
.connect-four-page .column.row-2:hover .variable-slot-r:nth-child(3)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-2:hover .variable-slot-r:nth-child(2)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-2:hover .variable-slot-r:nth-child(1)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-3:hover .variable-slot-r:nth-child(3){
    background-color: #ff8888;
}
.connect-four-page .column.row-3:hover .variable-slot-r:nth-child(2)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-3:hover .variable-slot-r:nth-child(1)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-4:hover .variable-slot-r:nth-child(2){
    background-color: #ff8888;
}
.connect-four-page .column.row-4:hover .variable-slot-r:nth-child(1)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ff0000;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-5:hover .variable-slot-r:nth-child(1){
    background-color: #ff8888;
}
.connect-four-page .column.row-0:hover .variable-slot-y:nth-child(6){
    background-color: #ffff88;
}
.connect-four-page .column.row-0:hover .variable-slot-y:nth-child(5)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-0:hover .variable-slot-y:nth-child(4)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-0:hover .variable-slot-y:nth-child(3)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-0:hover .variable-slot-y:nth-child(2)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-0:hover .variable-slot-y:nth-child(1)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-1:hover .variable-slot-y:nth-child(5){
    background-color: #ffff88;
}
.connect-four-page .column.row-1:hover .variable-slot-y:nth-child(4)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-1:hover .variable-slot-y:nth-child(3)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-1:hover .variable-slot-y:nth-child(2)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-1:hover .variable-slot-y:nth-child(1)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-2:hover .variable-slot-y:nth-child(4){
    background-color: #ffff88;
}
.connect-four-page .column.row-2:hover .variable-slot-y:nth-child(3)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-2:hover .variable-slot-y:nth-child(2)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-2:hover .variable-slot-y:nth-child(1)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-3:hover .variable-slot-y:nth-child(3){
    background-color: #ffff88;
}
.connect-four-page .column.row-3:hover .variable-slot-y:nth-child(2)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-3:hover .variable-slot-y:nth-child(1)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-4:hover .variable-slot-y:nth-child(2){
    background-color: #ffff88;
}
.connect-four-page .column.row-4:hover .variable-slot-y:nth-child(1)::before{
    content: "V";
    display: block;
    text-align: center;
    width: min(calc(12vh - 28px),calc(14vw - 24px));
    color: #ffff00;
    font-size: calc(min(calc(12vh - 28px),calc(14vw - 24px)) - 20px);
}
.connect-four-page .column.row-5:hover .variable-slot-y:nth-child(1){
    background-color: #ffff88;
}